/Theseus/.idea
/vendor
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Theseus.iml
.idea/vcs.xml
Theseus/.idea/workspace.xml
Theseus/.idea/scopes/scope_settings.xml
Theseus/.idea/.name
Theseus/.idea/encodings.xml
Theseus/.idea/misc.xml
Theseus/.idea/modules.xml
Theseus/.idea/Theseus.iml
Theseus/.idea/vcs.xml
/composer.phar
Theseus/.idea/dataSources.ids
Theseus/.idea/dataSources.local.xml
Theseus/.idea/dataSources.xml
Theseus/web/img/products/Approche_de_migration_d'une_base_de_données_relationnelles_vers_une_base_NoSQL.pdf
.idea/dataSources.local.xml