/*---------------------*/
/*                     */
/* CSS events HOME  */
/*                     */
/*---------------------*/
.grid {
	position: relative;
	clear: both;
	padding: 0 0em;
	list-style: none;
	text-align: center;
    width:100%;
    margin:auto;
    height:100%;
}

/* Common style */
.grid figure {
	width: 48%;

	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1px;
	min-width: 275px;
	max-width: 480px;
	max-height: 360px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath {
	width: 33%;
	background: #FFFFFF;
}

figure.effect-goliath img,
figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {

}

figure.effect-goliath p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-80px,0);
	transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Media queries */
@media screen and (max-width: 60em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}


/*---------------------*/
/*                     */
/* CSS du slider HOME  */
/*                     */
/*---------------------*/

.news-slider {
	/* Style the actual content */
}
.news-slider .text-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1em;
	width: 30%;
	height: 100%;
}
.news-slider .text-content h2 {
	margin: 0;
}
.news-slider .text-content p {
	margin: 1em 0;
}
.news-slider .text-content a.button-link {
	padding: 0.25em 0.5em;
	position: absolute;
	bottom: 1em;
	right: 1em;
}
.news-slider .image-content {
	line-height: 0;
}
.news-slider .image-content img {
	max-width: 100%;
}
.news-slider .news-pager {
	text-align: right;
	display: block;
	margin: 0.2em 0 0;
	padding: 0;
	list-style: none;
}
.news-slider .news-pager li {
	display: inline-block;
	padding: 0.6em;
	margin: 0 0 0 1em;
}
.news-slider .news-pager li.sy-active a {
	color: #31ace2;
}
.news-slider .news-pager li a {
	font-weight: 500;
	text-decoration: none;
	display: block;
	color: #222;
}
@media (max-width: 767px) {
    /* CSS appliqué aux petits écrans */
	.text-content {
		display: none;

	}
}